# Server
PORT=3000
NODE_ENV=development

# Database
MONGO_URI=your_mongodb_connection_string

# Auth
JWT_TOKEN_SECRET=your_jwt_secret

# AWS S3
AWS_S3_ACCESS_KEY=your_aws_access_key
AWS_S3_SECRET_KEY=your_aws_secret_key

# Razorpay
RAZORPAY_KEY_ID=your_key_id
RAZORPAY_KEY_SECRET=your_key_secret

# Google Auth
GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=your_client_secret

# reCAPTCHA
GOOGLE_RECAPTCHA_CLIENT_ID=your_recaptcha_client_id
GOOGLE_RECAPTCHA_SECRET_ID=your_recaptcha_secret

# AWS SES (Email)
AWS_SES_SMTP_USERNAME=your_smtp_username
AWS_SES_SMTP_PASSWORD=your_smtp_password
AWS_SES_ENDPOINT=your_ses_endpoint